<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2017 Amasty (https://www.amasty.com)
 * @package Amasty_Stockstatus
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\ConfigurableProduct\Block\Product\View\Type\Configurable">
        <plugin name="Amasty_Stockstatus::StockstatusConfigurable" type="Amasty\Stockstatus\Plugin\Product\View\Type\Configurable"/>
    </type>
    <type name="Magento\Swatches\Block\Product\Renderer\Configurable">
        <plugin name="Amasty_Stockstatus::StockstatusConfigurableSwatches" type="Amasty\Stockstatus\Plugin\Product\View\Type\Configurable"/>
    </type>
    <type name="Magento\Catalog\Block\Product\AbstractProduct">
        <plugin name="Amasty_Stockstatus::Addstatus" type="Amasty\Stockstatus\Plugin\Product\Status" />
    </type>
    <type name="Magento\Checkout\Block\Cart\AbstractCart">
        <plugin name="Amasty_Stockstatus::ShowStatusonCart" type="Amasty\Stockstatus\Plugin\Cart\AbstractCart" />
    </type>
    <type name="Magento\Catalog\Block\Product\ListProduct">
        <plugin name="Amasty_Stockstatus::ListStatus" type="Amasty\Stockstatus\Plugin\Product\ListProduct" />
    </type>
    <type name="Magento\Sales\Block\Order\Email\Items\Order\DefaultOrder">
        <plugin name="Amasty_Stockstatus::EmailStatus" type="Amasty\Stockstatus\Plugin\Order\Email\Items\DefaultOrder" />
    </type>
    <type name="Magento\GroupedProduct\Block\Product\View\Type\Grouped">
        <plugin name="Amasty_Stockstatus::Grouped" type="Amasty\Stockstatus\Plugin\GroupedProduct\Block\View\Type\Grouped" />
    </type>
    <type name="Magento\Bundle\Block\Catalog\Product\View\Type\Bundle\Option">
        <plugin name="Amasty_Stockstatus::Bundle" type="Amasty\Stockstatus\Plugin\Bundle\Block\Option" />
    </type>
    <type name ="Magento\CatalogSearch\Block\SearchResult\ListProduct" >
        <plugin name ="Amasty_Stockstatus::SearchListStatus" type ="Amasty\Stockstatus\Plugin\Product\ListProduct" />
    </type>
</config>
